# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Виртуальное окружение
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# MLflow
mlruns/
mlflow.db
*.metrics
*.params

# Docker
*.log
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Логи
*.log
logs/

# Файлы сборки/dist
dist/
build/
*.egg-info/
*.egg

# Переменные окружения
.env
.env.local

# Streamlit
.streamlit/secrets.toml

# OS
Thumbs.db
Desktop.ini